body {
    background-color: #f1f1f1;
}

/*==========================================================================================*/

.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    justify-content: space-around; /*===STOPPED===*/ 
}

.nav-main ul {
    display: flex;
    align-items: center;
}

.nav-main ul li a {
    display: flex;
}

.btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-color: #f98f39;
    background-repeat: no-repeat;
    background-image: url("./images/sandwich_bar.png");
    background-size: 45%;
    background-position: center;
    cursor: pointer;
}