/*==========================================================================================*/
/*======================================  HEADER  ==========================================*/
/*==========================================================================================*/

* {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    display: flex;                              /*==Body is main flex container==*/
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/snow_leapord.jpg"); /*==TESTING==*/ 
    background-repeat: no-repeat;
    background-size: cover;                     /*==h0lY=sHiT=!REMEMBER!=!THIS!==*/ 
    background-position: center;
}

/*===NAVBAR===*/ 
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center; /*=*/ 
    list-style: none; /*==FOR FUTURE DROPDOWN NAV MENU*/ 
    background-color: rgb(0, 0, 0, 0.92);
    align-items: center; 
    position: relative;                         /*==FIXED vs RELATIVE==*/ /*==STICKY?==*/ 
    width: 100vw;
    /*height: 44px;*/ 
    /*z-index: 9999;*/ 
    min-width: none;
    height: 50px;
}

/*===NAVBAR TEXT===*/
.header-nav a {
    text-align: center; 
    text-decoration: none;
    color: #b8b8b8;
    font-size: 0.9em;
    padding: 13px 25px 13px 25px;
    transition: 0.25s ease-in;
}

/*===HEADER:HOVER===*/ 
.header-nav a:hover {
    color: white;
    opacity: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)} /*==MESSES UP LAYOUT WHEN REMOVED==*/ 

/*===SUBNAV-DROPDOWN===*/ 
/*.header-nav-dropdown {
    display: none;
}*/ 

/*===LOGO===*/
.name-logo {
    display: flex;
}

/*===LOGO:HOVER===*/ 
.name-logo:hover {
    color: white;
}

.name-logo a {
    display: flex; /*==TEST==*/ 
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #c2c2c2;
    padding: 11px 15px 11px 15px;
    transition: 0.25s ease-in;
}

/*===SANDBAR===*/ 
.sandbar {
    width: 30px;
    display: flex;
    flex-direction: column;
    /*margin-left: 5px;*/ 
    margin-top: 2px; 
    padding: 11px 15px 11px 15px;
    opacity: 0.7;                               /*==Darkens image to match other navbar content==*/ 
}

/*===SANDBAR:HOVER===*/ 
.sandbar:hover {
    opacity: 1;                                 /*==Brightens image to match other navbar content when hovering==*/ 
    cursor: pointer;
}

/*===MAIN CONTAINER===*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spotify {
    border-radius: 12px;
    height: 80px;
    margin-top: 5px; /*=*/ 
}

#spot-div {
    border-radius: 12px;
    height: 80px;
    margin-top: 5px; /*=*/
}

.btn-container {
    display: flex;
    background: url(./);
}

/*===SANDBAR/IMG===*/ 
.sandbar {
    width: 10px;
    height: 10px;
    display: flex;
    /*margin-left: 5px;*/ 
    margin-top: 2px; 
    padding: 11px 15px 11px 15px;
    opacity: 0.71;                               /*==Darkens image to match other navbar content==*/ 
    background-color: green;
    border-radius: 50%;
}

/*===SANDBAR:HOVER===*/ 
.sandbar:hover {
    opacity: 1;                                 /*==Brightens image to match other navbar content when hovering==*/ 
    cursor: pointer;
}





/*========================================================================*/
/*========================================================================*/
/*========================================================================*/

@media (max-width: 500px) {
    .header-nav li {
      display: none;                            /*==".header-nav li" will disappear when shrinking to mobile==*/
    }
}
/*========================================================================*/
/*========================================================================*/
/*========================================================================*/

