/*========================================================================*/
/*===============================HEADER===================================*/
/*========================================================================*/
/*NOTE: NAV IS GOOOOD*/ 
* {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    width: 100vw;
    min-width: 390px;
    height: 100%;
}

body {
    display: flex;                              /*==Body is main flex container==*/
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: silver;
    margin-right: 10px;
    width: 100%;
}

/*===NAVBAR===*/ 
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center; /*=*/ 
    list-style: none; /*==FOR FUTURE DROPDOWN NAV MENU*/ 
    background-color: rgb(0, 0, 0, 0.92);
    align-items: center; 
    position: relative;                         /*==FIXED vs RELATIVE==*/ /*==STICKY?==*/ 
    /*height: 44px;*/ 
    /*z-index: 9999;*/ 
    height: 50px;
    width: 100%;
}

/*===NAVBAR TEXT===*/
.header-nav a {
    text-align: center; 
    text-decoration: none;
    color: #b8b8b8;
    font-size: 0.9em;
    padding: 13px 25px 13px 25px;
    transition: 0.25s ease-in;  /*=!=*/ 
}

/*===HEADER:HOVER===*/ 
.header-nav a:hover {
    color: white;
    opacity: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)} /*==MESSES UP LAYOUT WHEN REMOVED==*/ 

/*===SUBNAV-DROPDOWN===*/ 
/*.header-nav-dropdown {
    display: none;
}*/ 

/*===LOGO===*/
.name-logo {
    display: flex;
}

/*===LOGO:HOVER===*/ 
.name-logo:hover {
    color: white;
}

.name-logo a {
    display: flex; /*==TEST==*/ 
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #c2c2c2;
    padding: 11px 15px 11px 15px;
    transition: 0.25s ease-in;
}

/*===SANDBAR/IMG===*/ 
.sandbar {
    width: 30px;
    display: flex;
    /*margin-left: 5px;*/ 
    margin-top: 2px; 
    padding: 11px 15px 11px 15px;
    opacity: 0.7;                               /*==Darkens image to match other navbar content==*/ 
}

/*===SANDBAR:HOVER===*/ 
.sandbar:hover {
    opacity: 1;                                 /*==Brightens image to match other navbar content when hovering==*/ 
    cursor: pointer;
}

@media (max-width: 800px) {
    .header-nav li {
      display: none;                            /*==".header-nav li" will disappear when shrinking to mobile==*/
    }
}

  
/*========================================================================*/
/*========================================================================*/
/*========================================================================*/

/*===MAIN CONTAINER===*/
.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*padding-left: 10px; /*=*/ 
    /*margin-right: 10px; /*=*/ 
    margin-top: 45px; 
    margin-bottom: 10px;        /*==TO SEPARATE MAIN FROM FOOTER==*/
}

.main-container div {
    min-width: 320px;           /*==AHAHAHAHAHAHAHAHAHAHAHAHAHA==*/
    min-height: 12em;   /*=!=*/ 
    background-color: gray;
    margin: 5px 5px 5px 5px;
    transition: 0.25s ease-in;
}

.main-container div:hover { /*==???==*/ 
    box-shadow: 1px 1px 1px 1px #515151;
    transition: 0.25s ease-out;
    color: white;
}

/*===H1===*/ 
.main-container div a p {
    background-color: #515151;
    color: #c2c2c2;
    font-size: 100%;
    padding: 3px 0 3px 5px;
    font-weight: bolder;
    transition: 0.25s ease-out;
}

/*===H1:HOVER===*/ 
.main-container div a p:hover { /*==???==*/
    color: white;
    transition: 0.25s ease-in;
}

/*========================================================================*/
/*========================================================================*/
/*========================================================================*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3.5px;
}

.footer p {
    display: flex;
    flex-direction: row;
    color: #515151;
    font-size: 0.825em;
    font-weight: bolder;
}

.footer p:hover {
    color: #0f0f0f;
    transition: 0.25s ease-in;
}