/*========================================================================*/
/*===============================HEADER===================================*/
/*========================================================================*/

* {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;                              /*==Body is main flex container==*/
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(234, 234, 234);
}

/*===NAVBAR===*/ 
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center; /*=*/ 
    list-style: none; /*==FOR FUTURE DROPDOWN NAV MENU*/ 
    background-color: rgb(0, 0, 0, 0.92);
    align-items: center; 
    position: relative;                         /*==FIXED vs RELATIVE==*/ /*==STICKY?==*/ 
    width: 100vw;
    /*height: 44px;*/ 
    /*z-index: 9999;*/ 
    min-width: none;
    height: 50px;
}

/*===NAVBAR TEXT===*/
.header-nav a {
    text-align: center; 
    text-decoration: none;
    color: #b8b8b8;
    font-size: 0.9em;
    padding: 13px 25px 13px 25px;
    transition: 0.25s ease-in;
}

/*===HEADER:HOVER===*/ 
.header-nav a:hover {
    color: white;
    opacity: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)} /*==MESSES UP LAYOUT WHEN REMOVED==*/ 

/*===SUBNAV-DROPDOWN===*/ 
/*.header-nav-dropdown {
    display: none;
}*/ 

/*===LOGO===*/
.name-logo {
    display: flex;
}

/*===LOGO:HOVER===*/ 
.name-logo:hover {
    color: white;
}

.name-logo a {
    display: flex; /*==TEST==*/ 
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #c2c2c2;
    padding: 11px 15px 11px 15px;
    transition: 0.25s ease-in;
}

/*===SANDBAR===*/ 
.sandbar {
    width: 30px;
    display: flex;
    /*margin-left: 5px;*/ 
    margin-top: 2px; 
    padding: 11px 15px 11px 15px;
    opacity: 0.7;                               /*==Darkens image to match other navbar content==*/ 
}

/*===SANDBAR:HOVER===*/ 
.sandbar:hover {
    opacity: 1;                                 /*==Brightens image to match other navbar content when hovering==*/ 
    cursor: pointer;
}

/*===MAIN CONTAINER===*/
.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 211, 211);      /*==BGCOLOR FOR OTHER PAGES?==*/ 
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .header-nav li {
      display: none;                            /*==".header-nav li" will disappear when shrinking to mobile==*/
    }
}

/*========================================================================*/
/*==BUTTON==BUTTON==BUTTON==BUTTON==BUTTON==BUTTON==BUTTON==BUTTON==BUTT==*/
/*========================================================================*/

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.5em;          /*==NEED==*/
    margin: 10px;                               /*==Pushes sub-content down==*/ 
}

button {
    background-color: silver;
    border-radius: 5px;
    border: none;
    height: 38px;
    min-width: 195px; /*=*/ 
    max-width: 200px;
    padding: 0 20px;
    margin: 0 4px;
    font-weight: bold;
    color: #515151;
    transition: 0.7s ease;

}

button:hover {
    color: #4a4848;
    cursor: pointer;
    background-color: rgb(162, 162, 162);
    transition: 0.35s ease;
}

/*========================================================================*/
/*============================CONTENT/MAIN================================*/
/*========================================================================*/

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-pdf {
    width: 85vw;
    min-height: 78.7vh;
    border-radius: 10px 10px 0 0;
    margin-top: 1em;
    max-width: 100vw;
    min-width: 85vw;
}

/*========================================================================*/
/*========================================================================*/
/*========================================================================*/