/*======================================RESET=====================================*/
/*================================================================================*/
/*================================================================================*/

* {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100vh;
}

body {
    height: 100%;
}

/*================================================================================*/
/*================================CONTAINER-HEADER================================*/
/*================================================================================*/

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 44px;
}

#container-header-item {
    background-color: black;
    text-align: center;
    color: #c2c2c2;
    font-size: 2em;
    font-weight: bolder;
}

/*================================================================================*/
/*=======================================NAV======================================*/
/*================================================================================*/

.container-nav {                                /*==NOTE: Apple's .container-nav-item with is 44==*/ 
    background-color: silver;
    display: flex;
    flex-direction: row;    /*==AUTO==*/
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    justify-content: center;
    font-size: 15px;
    line-height: 2; /*==WATCH==*/
    height: 33px;
}

.container-home-icon {
    /*background: #515151;*/ /*==TEMP==*/
}

.container-home-icon .fa-solid, .container-menu-icon .fa-solid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /*background-color: #515151;*/  /*==TEMP==*/ 
}

.container-menu-icon {
    /*background: #515151;*/ /*==TEMP==*/ 
}

.container-nav-item {   /*==HIDDEN @ MOBILE===*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px; /*==FROM APPLE==*/
    min-width: 44px;    /*==FROM APPLE==*/
    /*background-color: #515151;*/  /*==TEMP==*/ 
    font-size: 13px;
    color: #515151;
    height: 100%;
    font-weight: 400;
}

.container-nav-item:hover {
    color: black;
}

.container-home-icon .fa-solid, .container-home-icon .fa-house {
    margin-right: 15px;
    color: #515151;
}

.container-home-icon .fa-solid:hover, .container-home-icon .fa-house:hover {
    color: black;
}

.container-menu-icon .fa-solid, .container-home-icon .fa-bars {
    margin-left: 15px;
    color: #515151;
}

.container-menu-icon .fa-solid:hover, .container-home-icon .fa-bars:hover {
    color: black;
}

.container-logo-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    color: #c2c2c2;
    font-size: 2em;
    font-weight: bolder;
}

/*================================================================================*/
/*======================================MAIN=====================================*/
/*================================================================================*/

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 40px;

}

.container-main-item {
    width: 99%;
    
}

#main-img {
    width: 100%;
    max-height: 700px;
    min-height: 700px;
}

/*================================================================================*/

.container-footer {

    width: 100%;
    height: 30px;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container-item {
    color: #515151;
    opacity: 0.7;
}

/*================================================================================*/
/*=====================================@MEDIA=====================================*/
/*================================================================================*/

@media (max-width: 475px) {
    .container-nav-item {
        display: none;
    }

    .container-header {
        display: none;
    }

    .container-nav {
        background-color: rgba(0,0,0,0.92);
        height: 50px;
    }

    .container-home-icon .fa-solid, .container-home-icon .fa-house {
        display: none;
    }
    .container-menu-icon .fa-solid, .container-home-icon .fa-bars {
        color: #c2c2c2;
        font-size: 1.9em;
    }

    .container-home-icon .fa-solid:hover, .container-home-icon .fa-house:hover {
        color: white;
    }

    .container-menu-icon .fa-solid:hover, .container-home-icon .fa-bars:hover {
        color: white;
    }

    .container-logo-mobile {
        display: flex;
        padding: 0 60px;
        font-size: 1.9em;
    }

    .container-main-item {
        width: 100%;
    }
} 