/* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT *//* ELEMENT */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

a {
    margin: 1px;
    text-decoration: none;
    color: #515151;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 19vh;
}

button {
    background-color: #f8f9fa;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}

ul > a, ul > img {
    padding: 0 8px;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

/* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS *//* CLASS */

.footer-left {
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.header-img {
    width: 24px;
    height: 24px; 
}

.header-img:hover {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

/* NAV */ 

.header-nav {               
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

.h1-logo {
    width: 272px;
    height: 92px;
}

.mag-glass {
    width: 16px;
    height: 16px; 
    margin: 10px;  
}

.my-btn-container {
    padding-top: 25px;
}

.my-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 582px;
    height: 44px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.my-input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.my-input-container > input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.sign-in-btn {
    background: #8ab4f8;
    border: 1px solid transparent;
    box-shadow: none;
    color: #202124;
    margin: 0 8px;
    padding: 9px 23px;
    font-size: 14px;
    min-width: 96px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
}

.sign-in-btn:hover {
    background: #91b9f8;
    border-color: #dadce0;
    box-shadow: none;
    color: #202124;
    text-decoration: none;
}